<div class="dashboard-container-center">
  <ng-container *ngIf="loading">
    <app-loading></app-loading>
  </ng-container>
  <ng-container *ngIf="!loading">
    <div class="chart-container">
      <div class="dashboard-card half-width">
        <h3>Payroll Distribution</h3>
        <app-pie-chart [data]="distribution" [isDoughnut]="true"></app-pie-chart>
      </div>
      <div class="dashboard-card half-width">
        <h3>Team Distribution</h3>
        <app-pie-chart [data]="team" [isDoughnut]="true"></app-pie-chart>
      </div>
      <div class="dashboard-card">
        <h3>Payroll By Month</h3>
        <app-vertical-bar-chart
          [data]="earnings"
          [xAxisLabel]="'Month'"
          [yAxisLabel]="'Amount'"
          [legendTitle]="'Monthly Payroll'"
        ></app-vertical-bar-chart>
      </div>
      <div class="dashboard-card">
        <h3>UIF By Month</h3>
        <app-vertical-bar-chart
          [data]="uif"
          [xAxisLabel]="'Month'"
          [yAxisLabel]="'Amount'"
          [legendTitle]="'Monthly Payroll'"
        ></app-vertical-bar-chart>
      </div>
      <div class="dashboard-card">
        <h3>PAYE By Month</h3>
        <app-vertical-bar-chart
          [data]="tax"
          [xAxisLabel]="'Month'"
          [yAxisLabel]="'Amount'"
          [legendTitle]="'Monthly Payroll'"
        ></app-vertical-bar-chart>
      </div>
    </div>
  </ng-container>
</div>
